#container{
	width:80%;
	height:80%;
	margin:0 auto;
	background:#00a0e6;
	text-align:center;
}
input.bt{
	font-size:3em;
	font-weight:bold;
	padding:5px 20px;
	border-radius:50% 20%/10% 40%;
	margin:0 auto;
}
p#hoi{
	font-size:3em;
}
p#result{
	font-size:3em;
	margin:0;
}
#btns{
	width:100%;
}
@media screen and(max-width: 630px){
	div#btns{
		font-size:60%;
	}
}
@media screen and (max-width: 430px) {
	div#btns{
		font-size: 35%;
	}
	p#result{
		font-size:35px;
	}
	
}
@media screen and(max-width:300px){
	div#btns{
		font-size:3px;
	}
	p#result{
		font-size:25px;
	}
}
