#container{
	width:80%;
	height:80%;
	margin:0 auto;
	background:#00a0e6;
	text-align:center;
}
input.bt{
	font-size:3em;
	font-weight:bold;
	padding:5px 20px;
	border-radius:50% 20%/10% 40%;
	margin:0 auto;
}
p#hoi{
	font-size:3em;
}
p#result{
	font-size:3em;
	margin:0;
}
#btns{
	width:100%;
	text
}
@media screen and(max-width: 480px){
	#btns{
		font-size:x-small;
	}
}
@media screen and (max-width: 320px) {
	#btns{
		font-size: 7px;
	}
}
